:root {
  --black: rgba(0, 0, 0, 1);
  --sherpa-blue-2: rgba(0, 66, 76, 0.298);
  --sherpa-blue: rgba(0, 66, 76, 0.4);
  --black-pearl: rgba(7, 22, 30, 1);
  --anakiwa: rgba(153, 241, 255, 1);
  --alto: rgba(217, 217, 217, 1);
  --white: rgba(255, 255, 255, 1);

  --font-size-m: 24px;
  --font-size-l: 64px;

  --font-family-archivo: "Archivo";
  --font-family-outfit: "Outfit";
}

.outfit-bold-white-64px {
  color: var(--white);
  font-family: var(--font-family-outfit);
  font-size: var(--font-size-l);
  font-weight: 700;
  font-style: normal;
}
.archivo-bold-white-24px {
  color: var(--white);
  font-family: var(--font-family-archivo);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Outfit:700|Archivo:700");

.desktop-1 {
  align-items: flex-start;
  background-color: #07161e;
  border: 1px none;
  display: flex;
  padding: 0 31px;
  width: 1440px;
}

* {
  box-sizing: border-box;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.rectangle-11 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgb(153, 241, 255) 100%
  );
  height: 1023px;
  margin-left: 71px;
  width: 92px;
}

.frame-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 91px;
  margin-top: 32px;
  min-height: 980px;
  width: 599px;
}

.frame-7 {
  align-items: center;
  background-color: var(--sherpa-blue-2);
  border: 1px solid;
  border-color: var(--white);
  border-radius: 29px;
  display: flex;
  flex-direction: column;
  gap: 58px;
  min-height: 212px;
  width: 599px;
}

.rectangle-13 {
  background-color: var(--anakiwa);
  border-radius: 29px 29px 0px 0px;
  height: 49px;
  margin-right: 2px;
  margin-top: -1px;
  width: 599px;
}

.frame-container-1 {
  align-items: flex-end;
  display: flex;
  gap: 42px;
  margin-right: 17px;
  min-width: 508px;
}

.frame-13 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--anakiwa);
  border-radius: 29px;
  display: flex;
  height: 41px;
  min-width: 123px;
  padding: 5px 14px;
}

.analyze {
  letter-spacing: 0;
  line-height: normal;
  min-height: 26px;
  white-space: nowrap;
}

.frame-15 {
  align-items: flex-start;
  background-color: var(--sherpa-blue);
  border: 1px solid;
  border-color: var(--anakiwa);
  border-radius: 29px;
  display: flex;
  gap: 22px;
  height: 40px;
  min-width: 343px;
  padding: 3px 14px;
}

.vector {
  align-self: center;
  height: 21px;
  margin-bottom: 3.23px;
  width: 23px;
}

.ticker {
  letter-spacing: 0;
  line-height: normal;
  min-height: 25px;
  white-space: nowrap;
}

.frame-12 {
  align-items: flex-end;
  background-color: var(--sherpa-blue-2);
  border: 1px solid;
  border-color: var(--white);
  border-radius: 29px;
  display: flex;
  flex-direction: column;
  gap: 162px;
  margin-top: 50px;
  min-height: 277px;
  padding: 0 1px;
  width: 599px;
}

.rectangle-14-1 {
  background-color: var(--anakiwa);
  border-radius: 29px 0px 29px 0px;
  height: 60px;
  width: 299px;
}

.date-stamp {
  height: 60px;
  margin-right: 78px;
  margin-top: -6px;
  width: 258px;
}

.frame-5 {
  align-items: flex-start;
  background-color: var(--sherpa-blue-2);
  border: 1px solid;
  border-color: var(--white);
  border-radius: 29px;
  display: flex;
  height: 392px;
  margin-top: 49px;
  min-width: 599px;
}

.overlap-group-1 {
  height: 51px;
  position: relative;
  width: 599px;
}

.standard-poor-500 {
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
  white-space: nowrap;
  width: 241px;
}

.line-6 {
  height: 49px;
  left: 450px;
  top: 2px;
  width: 2px;
}

.desktop-1 .line {
  object-fit: cover;
  position: absolute;
}

.line-5 {
  height: 49px;
  left: 420px;
  top: 2px;
  width: 2px;
}

.line-4 {
  height: 49px;
  left: 390px;
  top: 2px;
  width: 2px;
}

.rectangle-18 {
  background-color: var(--sherpa-blue);
  border: 1px solid;
  border-color: var(--anakiwa);
  border-radius: 29px 29px 0px 0px;
  height: 49px;
  left: 0;
  position: absolute;
  top: 0;
  width: 599px;
}

.line-2 {
  height: 49px;
  left: 330px;
  top: 2px;
  width: 2px;
}

.line-9 {
  height: 49px;
  left: 540px;
  top: 2px;
  width: 2px;
}

.line-10 {
  height: 49px;
  left: 570px;
  top: 2px;
  width: 2px;
}

.line-11 {
  height: 1px;
  left: 286px;
  top: 34px;
  width: 313px;
}

.line-8 {
  height: 49px;
  left: 510px;
  top: 2px;
  width: 2px;
}

.line-7 {
  height: 49px;
  left: 480px;
  top: 2px;
  width: 2px;
}

.line-1 {
  height: 49px;
  left: 300px;
  top: 0;
  width: 2px;
}

.line-3 {
  height: 49px;
  left: 360px;
  top: 2px;
  width: 2px;
}

.line-12 {
  height: 1px;
  left: 0;
  top: 13px;
  width: 599px;
}

.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 31px;
  margin-top: 32px;
  min-height: 980px;
  width: 336px;
}

.overlap-group {
  border-radius: 29px;
  height: 239px;
  position: relative;
  width: 336px;
}

.rectangle-15 {
  background-color: #d9d9d9;
  height: 46px;
  left: 0;
  position: absolute;
  top: 164px;
  width: 336px;
}

.rectangle-14 {
  background-color: var(--anakiwa);
  height: 239px;
  left: 260px;
  position: absolute;
  top: 0;
  width: 56px;
}

.place {
  color: var(--white);
  font-family: var(--font-family-outfit);
  font-size: var(--font-size-l);
  font-weight: 700;
  left: 13px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 63px;
  width: 259px;
}

.rectangle-2 {
  background-color: var(--sherpa-blue-2);
  border: 1px solid;
  border-color: var(--white);
  border-radius: 29px;
  box-shadow: 0px 4px 4px #00000040;
  height: 239px;
  left: 0;
  position: absolute;
  top: 0;
  width: 336px;
}

.frame-3 {
  align-items: center;
  background-color: var(--sherpa-blue-2);
  border: 1px solid;
  border-color: var(--white);
  border-radius: 29px;
  display: flex;
  flex-direction: column;
  gap: 33px;
  min-height: 614px;
  width: 336px;
}

.rectangle {
  background-color: var(--sherpa-blue);
  border: 1px solid;
  border-color: var(--anakiwa);
  border-radius: 29px;
  height: 39px;
  margin-right: 2px;
  width: 306px;
}

.frame-14 {
  align-items: center;
  background-color: var(--sherpa-blue);
  border: 1px solid;
  border-color: var(--anakiwa);
  display: flex;
  height: 48px;
  justify-content: flex-end;
  margin-right: 2px;
  margin-top: -1px;
  min-width: 336px;
  padding: 0 29px;
}

.group {
  height: 28px;
  margin-top: 2px;
  width: 33px;
}

.news {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1px;
  min-height: 29px;
  width: 238px;
}

.frame-4 {
  align-items: flex-start;
  background-color: var(--sherpa-blue-2);
  border: 1px solid;
  border-color: var(--white);
  border-radius: 29px;
  display: flex;
  gap: 18px;
  height: 65px;
  min-width: 336px;
  padding: 8px 15px;
}

.frame {
  height: 47px;
  width: 56px;
}

.stone-oak {
  align-self: center;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 7px;
  min-height: 34px;
  width: 210px;
}

.rectangle-6 {
  background-color: var(--anakiwa);
  height: 1024px;
  margin-left: 60px;
  width: 92px;
}
